Flask==2.3.2
requests==2.31.0
beautifulsoup4==4.12.2
newspaper3k==0.2.8
cohere==4.50.0
python-dotenv==1.0.1
duckduckgo-search
bleach==6.1.0
torch
transformers
flask-cors
playwright
google-search-results
lxml_html_clean

